<h1>Let's Play Tamagotchi</h1>
<form action="/Tama_individual">
  <div class="form-group">
    <label for="new-tamagotchi">Enter the name of your new Tamagotchi</label>
    <input type="text" name="new-tamagotchi" id="new-tamagotchi">
  </div>
  <button type="submit">Welcome your new buddy!</button>
</form>
