<h1>Your Tamagochi is</h1>
<h3>Name:@Model.GetName()</h3>
<h3>Food:@Model.GetFood()</h3>
<h3>Attention:@Model.GetAttention()</h3>
<h3>Attention:@Model.GetSleep()</h3>
<h5>Let's play</h5>
<form action="/feed" method="post">
  <button type="submit" name="button">Feed your Tamagotchi</button>
</form>
<a href="/play">Play with your Tamagotchi</a>
<a href="/bed">Put your Tamagotchi to bed</a>
