<h1>Your Tamagochi is</h1>
<h3>Name:@Model.GetName()</h3>
<h3>Food:@Model.GetFood()</h3>
<h3>Attention:@Model.GetAttention()</h3>
<h3>Attention:@Model.GetSleep()</h3>
<h5>Let's play</h5>
<form action="/feed/@Model.GetId()" method="post">
  <button type="submit" name="button">Feed your Tamagotchi</button>
</form>
<form action="/play/@Model.GetId()" method="post">
  <button type="submit" name="button">Play with your Tamagotchi</button>
</form>
<form action="/sleep/@Model.GetId()" method="post">
  <button type="submit" name="button">Let your Tamagotchi go to bed</button>
</form>
@if(@Model.IsDead())
{<p> Your Tamagotchi is dead </p>}
